/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Clearfix */
.clearfix {
    display: table;
    content: "";
    clear: both;
} 

/* Relative Size */
.w-10 {width: 10%;}
.w-80 {width: 80%;}
/* Float */
.fl-left {float: left;}
.fl-right {float: right;}

/* Buttons Colors */
.btn.bg-white {
    background-color: #fff;
    color: #000;
}

/* Common */
body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    /* border: 2px solid red; */
    width: 80%;
    height: 100%;
    margin: auto;
}

.row {
    width: 100%;
    height: 100%;
    /* border: 2px solid orange; */
}

.col {
    /* border: 2px solid green; */
    position: relative;
    height: 100%;
}

.btn {
    padding: 10px;
    border: 0 solid;
    border-radius: 20px;
}

/* Header */

header {
    background-color: #2A5EE8;
    height: 50px;
}

header .logo {
    width: 100%;
    height: 100%;
}

header nav {
    text-align: center;
}

header nav li {
    display: inline-block;
}

header nav li a {
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    margin: 20px;
}

#btn-logIn {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-weight: bold;
} 

