/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Clearfix */
.clearfix {
    display: table;
    content: "";
    clear: both;
} 

/* Relative Size */
.w-10 {width: 10%;}
.w-80 {width: 80%;}
.w-50 {width: 50%;}

/* Padding */
.pd-40 {
    padding: 40px;
}

/* Float */
.fl-left {float: left;}
.fl-right {float: right;}

/* Buttons Colors */
.btn.bg-white {
    background-color: #fff;
    color: #000;
}
.btn.bg-black {
    background-color: #000;
    color: #fff;
}

/* Color Sections */
.sctn.bg-white {
    background-color: #fff;
}

.sctn.bg-light-grey {
    background-color: lightgray;
}


/* Common */
body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    /* border: 2px solid red; */
    width: 80%;
    height: 100%;
    margin: auto;
}

.row {
    width: 100%;
    height: 100%;
    /* border: 2px solid orange; */
}

.col {
    /* border: 2px solid green; */
    height: 100%;
}

.btn {
    padding: 10px 20px;
    border: 0 solid;
    border-radius: 20px;
}

/* Header */

header {
    background-color: #2A5EE8;
    height: 50px;
}

header .logo {
    width: 100%;
    height: 100%;
}

header nav {
    text-align: center;
}

header nav li {
    display: inline-block;
}

header nav li a {
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    margin: 20px;
}

#btn-logIn {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-weight: bold;
} 

/* Main */

main {
    /* border: 2px solid red; */
}

/* Section Banner */

.banner {
    /* border: 2px solid yellow; */
    background-image: url('../images/jumbo.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    height: 50vh;
}

.banner .container {
    position: relative;
    /* border: 2px solid rgb(138, 128, 115); */
}

.banner .box-centered {
    position: absolute;
    /* border: 2px solid green; */
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner .title {
    font-size: 2rem;
}

.banner .description {
    font-size: 0.9rem;
    margin: 20px 0;
}

.banner .buttons .btn {
    margin: 0 10px;
}

/* Section 1 */

.sctn {
    padding: 40px;
    /* border: 2px solid blue; */
    background-color: #fff;
}

.sctn .container {
    position: relative;
    /* border: 2px solid red; */
}

.sctn .row {
    width: 100%;
    /* border: 2px solid green; */
}

.sctn .row .col img {
    width: 100%;
}